/* ========== CONTENEDOR DEL MODAL ========== */
.modal-overlay1 {
    position: fixed;
    top: 9.1rem;

    left: 0;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;



}

.mines-modal-content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 3;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mines-modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black, rgba(35, 35, 35, 0.373), rgba(6, 6, 6, 0.112), rgba(0, 0, 0, 0.534), black);
    z-index: -1;

}






/* ========== HEADER ========== */

.mines-modal-header {

    margin-bottom: 20px;
    padding-bottom: 10px;
}







/* ========== TARJETAS DE MINAS ========== */
/* ==========bronze========== */

.mine-card-bronze.mine-card-lvl1 {
    position: fixed;
    top: 15.5rem;
    left: 1.5rem;

    transition: all 0.3s;

    margin: auto;
}

.mine-card-bronze.mine-card-lvl2 {
    position: fixed;
    top: 12.5rem;
    left: 7.8rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;

    margin: auto;

}

.mine-card-bronze.mine-card-lvl3 {
    position: fixed;
    top: 13.5rem;
    left: 14.5rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;
    margin: auto;

}

/* ========== iron ========== */


.mine-card-iron.mine-card-lvl1 {
    position: fixed;
    top: 14.5rem;
    left: 1rem;

    transition: all 0.3s;
    width: 90px;
    margin: auto;

}

.mine-card-iron.mine-card-lvl2 {
    position: fixed;
    top: 11.5rem;
    left: 7.5rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;

    margin: auto;
}

.mine-card-iron.mine-card-lvl3 {
    position: fixed;
    top: 12rem;
    left: 15rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;
    margin: auto;
}

/* ========== diamante ========== */

.mine-card-diamond.mine-card-lvl1 {
    position: fixed;
    top: 13.5rem;
    left: 1rem;

    transition: all 0.3s;
    width: 90px;
    margin: auto;
}

.mine-card-diamond.mine-card-lvl2 {
    position: fixed;
    top: 11rem;
    left: 7.5rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;

    margin: auto;
}

.mine-card-diamond.mine-card-lvl3 {
    position: fixed;
    top: 12rem;
    left: 14.5rem;

    border-radius: 10px;
    transition: all 0.3s;
    width: 90px;
    margin: auto;
}



/* ========== HEADER DE TARJETA ========== */




.mine-card-body {

    text-align: center;
    background-color: rgba(254, 254, 254, 0.379);

}



/* ==========titulo  TARJETA ========== */

.can-afford {
    color: #060606;

}

.can-afford1 {
    color: #7c0202;
    font-size: 10px;


}

.cannot-afford {
    color: #7c0202;
    font-size: 10px;
}

.cannot-afford1 {
    color: #7c0202;
    font-size: 10px;
}

/* ========== BOTONES ========== */



.btn-enter-mine,
.btn-discard-mine,
.btn-unlock-mine {

    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100px;
    padding: 0.3rem 0;
    border-radius: 0.3rem;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-enter-mine {
    background: #00000094;
    color: white;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.479);

    padding: 0.4rem 0;
    width: 65px;
    font-size: 0.8rem;


}



.btn-unlock-mine {
    background: #29500027;
    color: #ffffff;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.479);
    display: flex;
    align-items: start;
    justify-content: center;

}



.btn-unlock-mine.disabled {
    background: rgba(87, 0, 0, 0.651);
    color: rgb(255, 255, 255);
    opacity: 0.6;
    cursor: not-allowed;
}

.info-mine img {

    width: 25px;
}

.info-mine {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;

}

.text-img-info {

    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/*============================================================================*/

.yacimientos-section {
    margin-top: 15rem;

}

.yacimientos-title {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.yacimientos-slots {
    display: flex;
    gap: 10px;
    width: 95%;
    margin: auto;

}

.yacimiento-slot {
    flex: 1;
    border-radius: 10px;
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    font-size: 13px;
    background-color: #0000007f;
    border: 1px solid rgb(205, 92, 0);
}

.mena-img {

    width: 100%;
    height: 100px;
}

.mena-durability {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.mena-durability img {

    width: 20px;
}

.mena-durability small {

    margin-left: 2rem;
}


/**/


.btn-unlock-slot,
.btn-plant-mena,
.btn-mine-mena,
.btn-repair-mena {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}



.mena-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.mena-locked-container {
    position: relative;
    display: inline-block;
}

.mena-lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    cursor: pointer;
}

.mena-unlock-cost {
    font-size: 11px;
    color: #ffffff;
    margin: 0;
    display: flex;
    align-items: center;
}

.mena-unlock-cost img {

    width: 30px;
}

.yacimiento-info {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.repair-mena-btn {

    display: flex;
    align-items: center;
    gap: 5px;

}

.mena-bottom {

    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon-info {

    width: 25px;
}

.info-yacimientos {

    display: flex;
}